body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-content p {
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}

.profile-content p:last-child {
    margin-bottom: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; /* Change to flex-end */
    background-color: white;
    padding: 15px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: none; /* Add this line to hide the logo */
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a:hover {
    color: #11789b;
}

#toggler,
.navbar label {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}

